h1 {
    color: blue;
    background-color: yellow;
}

button {
    color: yellow;
    background-color: blue;
}

p {
    color: rgb(33, 116, 116);
    background: lavender;
}

body {
    background-color: rgb(82, 36, 102);
}