h1 {
    color: #75a05f;
    text-align: center;
    font-weight: 700;
    text-decoration: #35983c underline wavy;
    letter-spacing: 15px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b4b399;
}

h2 {
    color: #396c0e
}

h2:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
    background-color: #d3d2ae;
    text-align: center;
    font-weight: 200;
}

input[type="password"] {
    color: aquamarine;
}

button:hover {
    background-color: bisque;
    color: red;
}

button:active {
    background-color: aqua;
}