h1 {
    color: #0000bb;
    text-align: center;
    font-weight: 700;
    text-decoration: #127096 underline wavy;
    letter-spacing: 15px;
    font-size: 30px;
    font-family: Arial;
    background-color: #f3eb00;
}

h2 {
    color: #003984
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
    background-color: #f2e901;
}