h1 {
    color: #5f5fa0;
    text-align: center;
    font-weight: 700;
    text-decoration: #357c98 underline wavy;
    letter-spacing: 15px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b4b399;
}

h2 {
    color: #2d6cbe
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
    background-color: #878430;
    text-align: center;
    font-weight: 200;
}