h1 {
    background-color: bisque;
    border: 2px black solid;
    width: 200px;
    padding: 50px;
    margin: 50px;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;
}