h1 {
    background-color: bisque;
    border: 2px black solid;
    width: 200px;
    padding: 50px;
    margin: 50px;
    display: none;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;
}

div {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    display: inline-block;
    background-color: olivedrab;
    margin: 50px;
}