section {
    background-color: blanchedalmond;
    height: 800px;
    width: 800px;
}

div {
    background-color: rgb(210, 141, 51);
    height: 50%;
    width: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

article {
    font-size: 30px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: brown;
    color: aliceblue;
}